@import '../../utils/breakpoints.scss';
@import '../../variables';

.footer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;

  &_top {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  &-menu {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    border-top: 1px solid $creamy-brown;
    border-bottom: 1px solid $creamy-brown;

    &--list {
      text-align: left !important;
      padding: 32px 0 32px;

      &:not(:last-of-type) {
        border-right: 1px solid $creamy-brown;
      }

      &:nth-child(1),
      &:nth-child(4) {
        padding-left: 40%;
      }

      &:nth-child(2),
      &:nth-child(3) {
        padding-left: 30%;
      }

      & li {
        & h3 {
          font-family: 'Athletics';
          font-weight: 500;
          font-size: 32px;
          line-height: 80px;
          color: $white;
          text-transform: uppercase;
        }

        & a {
          font-family: 'Athletics';
          font-weight: 400;
          font-size: 24px;
          line-height: 60px;
          color: $white;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
  }

  &-socials {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 90px 0 0;

    &--text {
      width: max-content;
      height: fit-content;
      margin-bottom: 60px;

      & h3 {
        font-weight: 400;
        font-size: 64px;
        line-height: 81px;
        text-align: center;
        color: $white;
      }
    }

    &--icons {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: max-content;
      column-gap: 50px;
    }
  }

  &_bottom {
    display: grid;
    place-items: center;
    width: 100%;
    height: fit-content;
    padding: 155px 0 55px;
  }

  &-brand {
    width: 100%;
    max-width: 90%;
    display: grid;
    place-items: center;

    & img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}
