$black: #0d0d0d;
$gray: #cbd5e1;
$gray-secondary: #656575;
$black-secondary: #07070c;
$white: #ffffff;
$greyish: #e2e2ea;
$primary: #11bebe;
$secondary: #111827;
$light-green: #0d9999;
$deep-blue: #0d1f62;
$yellow: #fff736;
$thick-blue: #0d224c;
$pink: #ed529a;
$green: #097857;
$dark-blue: rgba(41, 96, 136, 0.12);

// size
$max-width: 1120px;
